html {
  background-color: #c7c3c3;
}
 
 h1 {
  font-size: 70px;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 10px;
}


button  {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  padding: 20px;
  align-self: center;
  border-radius: 20px;
  margin-left: 50px;
  margin-top: 20px;
  border: 4px solid black;
}

button:hover {
  cursor: pointer;
  background-color: #3e8e41;
}